body {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.form-signin {
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}


.result {
  margin-top: 20px;
  background: #fff;
  box-shadow: 0px 3px 5px 0px #ccc;
  transition: box-shadow 0.4s;
  padding: 20px;
  overflow: hidden;
}

.result:hover {
  box-shadow: 0px 3px 8px 0px #999;
}

.result-content {
  overflow: hidden;
}

.result-title {
  min-height: 25px;
}

.right {
  float: right;
}
